* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-size: auto 100vh;
    height: 100vh;
    background: linear-gradient(top, rgb(214, 214, 214), rgb(187, 187, 187), rgb(165, 165, 165));
    background: linear-gradient(bottom, rgb(148, 148, 148), rgb(133, 133, 133), rgb(112, 112, 112));
}

header TDE {
    font-family: Helvetica;
    font-size: 60px;
}

.info ul {
    background-color: rgb(255, 202, 181);
    list-style: none;
    text-align: center;
    font-family: Helvetica;
    padding: 10px;
}

.info li {
    padding: 3px;
    border-width: 3px;
    border-color: black;
}

.info .university {
    font-size: 40px;
    padding: 15px;
}

h2 {
    font-family: Helvetica;
    font-size: 30px;
}

.pucbutton {
    background: #DB0000;
    background-image: -webkit-linear-gradient(top, #DB0000, #580000);
    background-image: -moz-linear-gradient(top, #DB0000, #580000);
    background-image: -ms-linear-gradient(top, #DB0000, #580000);
    background-image: -o-linear-gradient(top, #DB0000, #580000);
    background-image: linear-gradient(to bottom, #DB0000, #580000);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 300;
    padding: 15px;
    box-shadow: 0px 16px 29px 0px #000000;
    -webkit-box-shadow: 0px 16px 29px 0px #000000;
    -moz-box-shadow: 0px 16px 29px 0px #000000;
    text-shadow: 0px 10px 12px #000000;
    border: solid #9B0000 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.pucbutton:hover {
    border: solid #9B0000 2px;
    background: #B50000;
    background-image: -webkit-linear-gradient(top, #B50000, #D30000);
    background-image: -moz-linear-gradient(top, #B50000, #D30000);
    background-image: -ms-linear-gradient(top, #B50000, #D30000);
    background-image: -o-linear-gradient(top, #B50000, #D30000);
    background-image: linear-gradient(to bottom, #B50000, #D30000);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}